.auctions-container {
    width: 100%;
    height: calc(100vh - 64px);
}

.my-auctions-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .auction-item {
        flex: 1;
    }

    .auction-checkbox {
        margin-right: 10px;
    }
}


.sidebar-drawer {
    width: 250px;
}

.loading-div{
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.auctions-main {
    width: calc(100% - 250px);
    padding: 50px;
    height: calc(100vh - 64px);
}    



h1 {
    font-size: 38px;
}