<mat-card class="auction-card" (click)="goToAuctionDetail()">
    <img class="auction-image" src="{{auctionInfo.product_img_urls[0]}}">
    <div class="auction-info">
        <h2>{{auctionInfo.title}}</h2>
        <p class="description">{{auctionInfo.description}}</p>
        <h3>Current Price: {{(auctionInfo.current_price && auctionInfo.current_price>0)? ('$'+ auctionInfo.current_price) : '-' }}</h3>
        <p>Starting Price: ${{auctionInfo.starting_price}}</p>

        <p *ngIf="auctionInfo.finished || auctionInfo.status=='CLOSED' || auctionInfo.auction_status=='CLOSED'; else timeLeft" class="time-left">Auction has ended</p>
        <ng-template #timeLeft>
            <p *ngIf="auctionInfo.days<1; else daysLeft" class="time-left">
                <countdown [config]="{stopTime: auctionInfo.end_timestamp  }" class="time-left"></countdown>
            </p>
            <ng-template #daysLeft>
                <p class="time-left">{{auction.days}} days left</p>
            </ng-template>
        </ng-template>

        <p *ngIf="winning" class="win">Winning</p>
    </div>

</mat-card>