<mat-card class="auction-card">
    <img class="auction-image" src="{{auctionInfo.product_img_urls[0]}}">
    <div class="auction-info">
        <h2>{{auctionInfo.title}}</h2>
        <p>{{auctionInfo.description}}</p>
        <h3>{{(auctionInfo.current_price && auctionInfo.current_price || auctionInfo.starting_price)|currency}}</h3>

        <p *ngIf="auctionInfo.finished; else timeLeft">Auction has ended</p>

        <ng-template #timeLeft>
            <p *ngIf="auctionInfo.days<1; else daysLeft">
                <countdown [config]="{stopTime: auctionInfo.end_timestamp  }"></countdown>
            </p>
            <ng-template #daysLeft>
                <p>{{auction.days}} days left</p>
            </ng-template>
        </ng-template>
    </div>

</mat-card>