.auctions-container {
    width: 100%;
    height: calc(100vh - 64px);
}

.sidebar-drawer {
    width: 250px;
}

.loading-div{
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.auctions-main {
    width: calc(100% - 250px);
    padding: 50px;
    height: calc(100vh - 64px);
    h1,
    h2,
    p {
        width: 80%;
        line-height: 1.2em;
        margin: 0 auto;
    }

    h1 {
        font-size: 3.5rem;
        margin-top: 30px;
        font-weight: 300;
    }

    h2 {
        margin: 0px;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
        margin: 0;
        margin-bottom: 18px;
        text-overflow: ellipsis;
    }
    .auction-card {
        margin: 15px auto;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        .auction-image {
            object-fit: cover;
            width: 200px;
            height: 200px;
        }
        .auction-info {
            height: 200px;
            width: 70%;
        }
    }

}    



