@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

.mat-logo-div {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  #nav-title {
    font-size: 1.5rem;
    padding: 0;
  }
  img {
    width: 40px;
  }
}

mat-nav-list {
  padding: 0 !important;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: #f2f2f2;
}
