<mat-drawer-container class="auctions-container">

    <mat-drawer-content class="auctions-main">
        <h1>My Auctions</h1>
        <h1 *ngIf="errorMessage">{{errorMessage}}</h1>
        <div *ngIf="isLoading; else auctionsList" class="loading-div">
            <mat-spinner></mat-spinner>
        </div>

        <ng-template #auctionsList>
            <button mat-raised-button color="primary" (click)="launchCreateAuctionDialog()">Register Auction</button>

            <ng-template #noAuctions>
                <h1 *ngIf="!auctions.length">You have no auctions.</h1>
            </ng-template>

            <app-auction-item *ngFor="let auction of auctions" [auction]="auction" class="auction-item"
                [winning]="(auction.bid_winner==currentUser)?'Won':(auction.current_bidder==currentUser)?'Winning': ''">
            </app-auction-item>

        </ng-template>
    </mat-drawer-content>

    <mat-drawer mode="side" opened class="sidebar-drawer">
        <app-sidebar></app-sidebar>
    </mat-drawer>
</mat-drawer-container>