<div class="homePage">
    <div class="header">
        <div class="header-backdrop">

            <div class="header-content">
                <h1>Auctive</h1>
                <h3>Online Auctions made easy</h3>
                <br>
                <button mat-raised-button color="accent" id="get-started" [routerLink]="['/sign-up']">
                    Get started!
                </button>
            </div>

        </div>

        <div class="gradient">
            <p>Auctions made easy</p>
        </div>

    </div>

</div>