<div class="container">
    <div id="sidebar">
        <div class="item-list"> 
            <h1 [routerLink]="['/auctions']">
                Auctive
            </h1>
        </div>
        <div class="item-list">
            <a [routerLink]="['/auctions']">Auctions</a>
        </div>

        <div class="item-list">
            <a [routerLink]="['/auctions']">My Auctions</a>
        </div>

        <div class="item-list">
            <a [routerLink]="['/auctions']">Auction Subscriptions</a>
        </div>

    </div>
  </div>